[maxscale]
threads=auto
admin_host=0.0.0.0
admin_secure_gui=false
log_info=1
log_notice=1
log_warning=1
sync_config_replicas=maxscale 

[primary]
address=mysql
monitorpw=maxscale_password
monitoruser=maxscale_user
type=server

[replica]
address=mysqlreplica
monitorpw=maxscale_password
monitoruser=maxscale_user
rank=secondary
type=server


[MDB-Service]
localhost_match_wildcard_host=false
password=laravel
router=readwritesplit
type=service
user=laravel
targets=replica,primary


[listener]
type=listener
port=3306
protocol=MariaDBClient
service=MDB-Service


[Monitor]
auto_failover=true
failover_timeout=0ms
master_failure_timeout=1000ms
replication_password=maxscale_password
replication_user=maxscale_user
module=mariadbmon
monitor_interval=1000ms
password=maxscale_password
servers=replica,primary
type=monitor
user=maxscale_user

